@model SignalRWebUI.Dtos.CategoryDtos.CreateCategoryDto
@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">

<label for="categoryname">Kategori Adı</label>
<input type="text" asp-for="CategoryName" name="categoryname" />
<br /><br />
<button type="submit">Ekle</button>
</form>